{% extends('@layout/index.layout.twig') %}
{% block content %}
    <main id="main">
        <section id="hero" class="hero d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">{{ 'index.h1'|trans }}</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400">{{ 'index.h2'|trans }}</h2>
                        <div data-aos="fade-up" data-aos-delay="600">
                            {{  include('parts/short_url.html.twig') }}
                        </div>
                    </div>
                    <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                        <img src="{{ asset('images/hero-img.png') }}" class="img-fluid" alt="{{ current_app.domain }}">
                    </div>
                </div>
            </div>
        </section>

        <section id="values" class="values">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>{{ 'index.section.howto.header.title'|trans }}</h2>
                    <p>{{ 'index.section.howto.header.text'|trans }}</p>
                </header>
                <div class="row">
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="box">
                            <img src="{{ asset('images/values-1.png') }}" class="img-fluid" alt="{{ current_app.domain }}">
                            <h3>{{ 'index.section.howto.first_column.title'|trans }}</h3>
                            <p>{{ 'index.section.howto.first_column.text'|trans }}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                        <div class="box">
                            <img src="{{ asset('images/values-2.png') }}" class="img-fluid" alt="{{ current_app.domain }}">
                            <h3>{{ 'index.section.howto.second_column.title'|trans }}</h3>
                            <p>{{ 'index.section.howto.second_column.text'|trans }}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                        <div class="box">
                            <img src="{{ asset('images/values-3.png') }}" class="img-fluid" alt="{{ current_app.domain }}">
                            <h3>{{ 'index.section.howto.third_column.title'|trans }}</h3>
                            <p>{{ 'index.section.howto.third_column.text'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile" style="color: #15be56;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="{{ current_app.stats.urls_count }}" data-purecounter-duration="1" class="purecounter"></span>
                                <p>{{ 'index.section.counts.created'|trans }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-link-45deg" style="color: #ee6c20;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="{{ current_app.stats.redirects_count }}" data-purecounter-duration="1" class="purecounter"></span>
                                <p>{{ 'index.section.counts.redirect'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>{{ 'index.section.faq.header.h2'|trans }}</h2>
                    <p>{{ 'index.section.faq.header.text'|trans }}</p>
                </header>

                <div class="row">
                    <div class="col-lg-6">
                        <!-- F.A.Q List 1-->
                        <div class="accordion accordion-flush" id="faqlist1">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                        {{ 'index.section.faq.faq1.h2'|trans }}
                                    </button>
                                </h2>
                                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        {{ 'index.section.faq.faq1.text'|trans }}
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                        {{ 'index.section.faq.faq2.h2'|trans }}
                                    </button>
                                </h2>
                                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        {{ 'index.section.faq.faq2.text'|trans }}
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                        {{ 'index.section.faq.faq3.h2'|trans }}
                                    </button>
                                </h2>
                                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        {{ 'index.section.faq.faq3.text'|trans }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">

                        <!-- F.A.Q List 2-->
                        <div class="accordion accordion-flush" id="faqlist2">

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                                        {{ 'index.section.faq.faq4.h2'|trans }}
                                    </button>
                                </h2>
                                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        {{ 'index.section.faq.faq4.text'|trans }}
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                                        {{ 'index.section.faq.faq5.h2'|trans }}
                                    </button>
                                </h2>
                                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        {{ 'index.section.faq.faq5.text'|trans }}
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                                        {{ 'index.section.faq.faq6.h2'|trans }}
                                    </button>
                                </h2>
                                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        {{ 'index.section.faq.faq6.text'|trans }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{  include('parts/contact.html.twig') }}

    </main>
{% endblock %}