{% extends('@layout/layout.twig') %}
{% trans_default_domain "errors" %}

{% block javascripts %}
    {% block importmap %}{{ importmap('other') }}{% endblock %}
{% endblock %}

{% block body %}
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="{{ path('index') }}" class="logo d-flex align-items-center scrollto">
                <img src="{{ asset('images/logo.png') }}" alt="{{ current_app.domain }}">
            </a>
        </div>
    </header>
    <main id="main">
        <section id="hero" class="hero d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        {% block content %}{% endblock %}
                        <p>{{ 'layout.main'|trans}} <a href="mailto:{{ current_app.contact_email }}">{{ current_app.contact_email }}</a></p>
                        <div class="col-md-12 error-button">
                            <a href="{{ path('index') }}"><button type="submit">{{ 'layout.back'|trans}}</button></a>
                        </div>
                    </div>
                    <div class="col-lg-6 hero-img">
                        <img src="{{ asset('images/hero-img.png') }}" class="img-fluid" alt="{{ current_app.domain }}">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}