<!DOCTYPE html>
<html lang="{{ current_app.language }}">
    <head>

        <title>{{ seo_content.title|trans }}</title>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="{{ seo_content.description }}" name="description">
        <meta content="{{ seo_content.keywords }}" name="keywords">

        <meta property="og:title" content="{{ seo_content.og_title|trans }}" />
        <meta property="og:description" content="{{ seo_content.og_description|trans }}" />
        <meta property="og:type" content="{{ seo_content.og_type|trans }}" />
        <meta property="og:url" content="{{ seo_content.og_url|trans }}" />
        <meta property="og:image" content="{{ seo_content.base_url }}{{ asset('images/favicon.png') }}" />

        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i">
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    </body>
    {% block script %}{% endblock %}
</html>